In [2]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-8.1.0-cp39-cp39-win_amd64.whl (10.8 MB)
     ---------------------------------------- 10.8/10.8 MB 9.3 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp39-cp39-win_amd64.whl (527 kB)
     -------------------------------------- 527.0/527.0 kB 8.3 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.24.2
    Uninstalling protobuf-4.24.2:
      Successfully uninstalled protobuf-4.24.2
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [4]:
import mysql.connector

# connect to mysql database

In [11]:
try:
    connect=mysql.connector.connect(host = "127.0.0.1",
                                   user = "root",
                                   password = "Krishiv@panda21",
                                   database ="crud_python1")
    mycursor = connect.cursor()
    print("Connection Established")
except:
    print("Connection Error")

Connection Established

# Create a Database

In [9]:
mycursor.execute("CREATE DATABASE crud_python1")
connect.commit()

print("Database Created")

Database Created

# Create a table

In [13]:
#id, name, email and age

mycursor.execute('''CREATE TABLE customers
                (id integer primary key,
                NAME VARCHAR(30) NOT NULL,
                EMAIL VARCHAR(30) NOT NULL,
                AGE INTEGER)''')
connect.commit()
print("Table is created")

Table is created

# create- Insert new records in customer table

In [15]:
mycursor.execute("""INSERT INTO CUSTOMERS VALUES
                (1, "ANIKET","ANIKET@GMAIL.COM",39),
                (2, "kARTIK", "KARTIK@YAHOO.COM", 40),
                (3, "KRISHIV", "kRISHIV@REDIFFMAIL.COM",28)""")

connect.commit()
print("Records inserted sucessfully")

Records inserted sucessfully

# READ : Select data from a table

In [16]:
mycursor.execute("select * from customers")
myresult = mycursor.fetchall()

print(myresult)

[(1, 'ANIKET', 'ANIKET@GMAIL.COM', 39), (2, 'kARTIK', 'KARTIK@YAHOO.COM', 40), (3, 'KRISHIV', 'kRISHIV@REDIFFMAIL.COM', 28)]

In [17]:
for x in myresult:
    print(x)

(1, 'ANIKET', 'ANIKET@GMAIL.COM', 39)
(2, 'kARTIK', 'KARTIK@YAHOO.COM', 40)
(3, 'KRISHIV', 'kRISHIV@REDIFFMAIL.COM', 28)

# UPDATE : UPDATE DATA IN TABLE

In [18]:
mycursor.execute("update customers set age= 14 where id=1")

connect.commit()
print("record updated sucessfully")

record updated sucessfully

# DELETE - delete data from the table

In [19]:
mycursor.execute('delete from customers where id=3')
connect.commit()
print("Deleted")

Deleted